@model HairSalon.Models.Stylist

<h1>Stylist Details</h1>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

<p>@Html.ActionLink("Back to Stylist List", "Index")</p>

<p>@Html.ActionLink("Return to Home Page", "Index", "Home")</p>